{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<style>
    .msg{
        color: #000;
        padding: 10px;
        margin: 10px;
        border-radius: 15px;

        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .msg strong{
        font-size: 1.2em;
        color: #000;
    }
    .msg i{
        font-size: 1em;
        color: #000;
    }
    .msg a{
        color: blue;
    }
    .msg button{
        background-color: transparent;
        color: #000;
        padding: 5px;
        margin: 5px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
    .msg-cls{
        background-color: transparent;
        color: var(--bs-danger-text-emphasis);
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }

    .msg-cont svg path{
        stroke: var(--bs-danger-text-emphasis);
    }

    .msg-cont{
        display: grid;
        place-items: center;
        z-index: 0;
    }

    .msg{
        width: 80%;
        grid-area: 1/1;
    }

    {% for category, message in messages %}
       .msg:nth-last-child({{loop.index}}){
          /*margin-bottom: {{loop.index - 1}}rem;
          margin-right: {{loop.index - 0.5 }}rem;*/
          translate: {{loop.index*6}}px -{{loop.index*6}}px;
        }
    {% endfor %}
</style>
<div class="msg-cont">
    {% for category, message in messages %}
             <div id="albtn{{loop.index}}con" align="center" class="msg" style="border: 3px solid var(--bs-{{ category }}-border-subtle);color: var(--bs-{{ category }}-text-emphasis);background-color: var(--bs-{{ category }}-bg-subtle);">
               <strong><i>{{ message }}</i></strong>
               <button class="msg-cls" id="albtn{{loop.index}}" onclick="rmv(this.id)" aria-label="button-{{loop.index}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 100 100">
                    <path d="M10,10 L90,90 M10,90 L90,10" stroke-width="20" />
                </svg>
              </button>
             </div>
         {% endfor %}
</div>
<script>
 function rmv(id) {
   let elm=$(`#${id}con`);
   elm.hide(1500);
   //elm.remove();
 }
</script>
{% endif %}
{% endwith %}
