{% extends '_layout.html' %}
{% block head %}
    <style>
        #fields {
            margin: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 2px solid var(--bs-success);
            border-radius: 20px;
            padding: 5rem;
        }
        #fields img {
            width: 15vw;
            margin: 10px;
        }
        form {
            padding: 5rem;
            display: flex;
            flex-direction: column;
            column-gap: 2vw;
        }
        form label {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        #fields .frm-input{
            width: 15vw;
            margin: 10px;
            padding: 5px;
            color: black;
            border-radius: 10px;
        }
        .btns {
            grid-column-start: 1;
            grid-column-end: 5;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .btns .btn{
            padding: 1rem;
            margin: 1rem;
            border-radius: 10px;
            color: white;
            border: none;
            cursor: pointer;
        }
        .submit-btn {
            background-color: var(--bs-success);
            color: white;
            border: none;
        }
        .reset-btn {
            background-color: var(--bs-danger);
            color: white;
            border: none;
        }
        .under {
            grid-column-start: 1;
            grid-column-end: 5;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .under a {
            color: var(--bs-primary);
            text-decoration: none;
        }
        .frm-topbar {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 1rem;
            border: 2px solid var(--bs-gray-dark);
            border-radius: 20px;

        }
        .frm-topbar a {
            cursor: pointer;
            width: 100%;
            min-height: 100%;
            padding: 1rem;
            text-align: center;
            text-decoration: none;
        }
        .frm-topbar .signup {
            background-color: var(--bs-gray);
            color: white;
            border-radius: 0 20px 20px 0;
        }
    </style>
{% endblock %}
{% block title %}Sign up{% endblock %}
{% block body %}
    <div id="fields">
        <div class="frm-topbar">
            <a href="{{ url_for('login') }}" class="login">Login</a>
            <a href="{{ url_for('register') }}" class="signup">Register</a>
        </div>
        <img src="{{ url_for('static', filename='imgs/logo_s.png') }}">
        <h1>Register</h1>
        <form action="{{ url_for('register') }}" method="post">
            {{ form.hidden_tag() }}
            <label for="username">Username</label>
            {{ form.username(class='frm-input') }}
            <label for="password">Password</label>
            {{ form.password(class='frm-input') }}
            <label for="confirmation">Confirmation</label>
            {{ form.confirmation(class='frm-input', oninput='check()') }}
            <span class="btns">
                {{ form.submit(class='submit-btn btn') }}
                <button type="reset" class="btn reset-btn">Reset</button>
            </span>
            <span class="under">
                Already has an account?<a href="{{ url_for('login') }}">Login</a>
            </span>
        </form>
    </div>
    <script>
        function check() {
            let pass1=document.getElementById("password");
            if (pass1.value!=document.getElementById("confirmation").value){
                pass1.setCustomValidity('Password Must be Matching.');
            } else if (pass1.value.length<8){
                pass1.setCustomValidity("Password Must be 8 character long");
            } else {
                pass1.setCustomValidity('');
            }
        }
    </script>
{% endblock %}
